# Ignore everything by default.
*

!/.gitignore

!/ghostty/
!/ghostty/readme.md
!/ghostty/config.ghostty

!/zed/
!/zed/snippets/
!/zed/keymap.json
!/zed/settings.json
!/zed/snippets/snippets.json

!.zshrc
