# Ignore everything by default.
*

!/.gitignore
!/README.md
!/install-symlinks.sh

!/ghostty/
!/ghostty/readme.md
!/ghostty/config.ghostty

!/warp/
!/warp/keybindings.yaml
!/warp/settings.toml

!/zed/
!/zed/snippets/
!/zed/keymap.json
!/zed/settings.json
!/zed/snippets/snippets.json

!.zshrc
